@font-face{
	font-family: gill;
	src: url(../fuentes/gillsans.ttf) ;
}

@font-face{
	font-family: gillbold;
	src: url(../fuentes/gill-sans-mt-bold.ttf) ;
}



@font-face{
	font-family: antoniobold;
	src: url(../fuentes/Antonio-Bold.ttf) ;
}

@font-face{
	font-family: antonioregular;
	src: url(../fuentes/Antonio-Regular.ttf) ;
}

@font-face{
	font-family: antoniolight;
	src: url(../fuentes/Antonio-Light.ttf) ;
}


html{
	font-size: 16px;
	height: 100%;
	/*overflow-x:hidden; */
}

body{
	background:#fff;
	height: 100%;
	margin: 0 auto;
	padding:0;
}

#page{
	height: 100%;
}

#logo{
	margin-left: 30px;
}

#navigationMenu{
	background:#fff;
	position:fixed; 
	top: 0;
	width: 100%;
	z-index: 9999;
	-webkit-box-shadow: 1px 5px 11px rgba(50, 50, 50, 0.31);
	-moz-box-shadow:    1px 5px 11px rgba(50, 50, 50, 0.31);
	box-shadow:         1px 5px 11px rgba(50, 50, 50, 0.31);

}

#navigationMenuResp1{
	display: none;
}

.is-touch-device #navigationMenu{
	position:absolute;
}

#navigationMenu nav{
	list-style:none;
	margin: 0 auto;
	width: 1024px;
}

#cont-logo{
	display: inline-block;
	vertical-align: top;
	width: 200px;
	margin-top: 6px;
}

#navigationMenu nav ul{
	display: inline-block;
	list-style:none;
	overflow:hidden; 
	padding:0; 
	vertical-align: top;
	/*width: 740px;*/
	/*width: 820px;*/
	text-align: right;
}

#navigationMenu ul li{
	/*float:left;*/
	display: inline-block;
	margin:2px 28px;
	vertical-align: top;
	font-family: gill;
	font-size: 12px;
}

#navigationMenu ul li a{
	color: black;
}

.content{
	/*background:#ddd; */
	height: 100%;
	background-attachment: fixed;
	width:100%;
	position: relative;
}

.limitar-ancho{
	margin: 0 auto;
	/*padding-top: 85px;*/
	padding-top: 4em;
	width: 1024px;
}

.content:nth-child(odd){
	/*background:#eee;*/
}

h2{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}
/*****************************************************/
/***********************Inicio************************/
/*****************************************************/

#section_1{
	background: #494949; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #494949 77%, #1c1c1c 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(77%,#494949), color-stop(100%,#1c1c1c)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #494949 77%,#1c1c1c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #494949 77%,#1c1c1c 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #494949 77%,#1c1c1c 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #494949 77%,#1c1c1c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494949', endColorstr='#1c1c1c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	text-align: center;
}

#section_1 .limitar-ancho{
	padding-top: 30px;
}

#sect1-izq{
	background: #00DEC5;
	display: inline-block;
	vertical-align: top;
	width: 28em;
	height: 29em;
	position: absolute;
	left: 13%;
	/*top: 75px;*/
	top: 7em;
	/*top: 20%;%ALTO*/
	border-radius: 50%;
	z-index: 999;
}

#sect1-izq form{
	padding-top: 49px;
	color: black;
}

#form-sect h2{
	font-family: antoniobold !important;
	font-size: 30px;
	line-height: 37px;
	color: #3b3b39;
}

#form-sect p{
	font-family: gill;
	font-size: 14px;
}


#sect1-izq input[type=text], #sect1-izq input[type=tel], #sect1-izq input[type=mail]{
	font-family: gill;
	font-size: 14px;
	margin: 4px;
	text-align: center;
	width: 260px;
}

#sect1-izq input[type="submit"]{
	border: none;
	background: #D3145A;
	padding: 5px 15px;
	margin-top: 8px;
	font-family: antoniobold;
	color: white;
}

#cont-media-circ figcaption{
	color: white;
	left: 0;
	margin: 0 auto;
	margin-top: 17px;
	position: absolute;
	right: 0;
	z-index: 999;
	font-family: antoniobold;
}

#circ-abajo{
	bottom: 6px;
	left: 57px;
	position: absolute;
	width: 335px;
}



/*********************Formulario**********************/
#cat_icon{
    cursor: pointer;
    top: 0;
    position: fixed;
    right: 5px;
    z-index: 9999;
}

#categories {
    top: 0;
    right: 5px;
    z-index: 999;
    border : 1px solid #000;
    display: none;
    width: 200px;
    position: fixed;
}

span{
  cursor: pointer;
}







/*****************************************************/
/*********************Servicios***********************/
/*****************************************************/
#id1, #id2, #id3, #id4 {
	display: none;
}


#section_2{
	/*background: white;*/
	background-image:url('../images/fondo-burb.jpg');
	text-align: center;
}

#section_2_2{
	background-image:url('../images/fondo2.png');
	
}

#section_2 .limitar-ancho{
	padding-top: 7%;
}

#section_2 h2{
	font-family: antoniobold;
	font-size: 43px;
	margin-left: 30px;
	text-align: left;
	color: #4D4D56;
}

.circulos{
	margin: 0 auto;
	/*width: 115px;*/
	width: 5em;
}

.circulos img{
	width: 100%;
}

#contenedor-circ{
	margin: 0 auto;
}

#contenedor-circ article{
	display: inline-block;
	margin: 0 15px;
	vertical-align: top;
	width: 170px;
}

#contenedor-circ article h4{
	font-size: 13.2px;
	text-align: center;
	font-weight: bold;
	font-family: gillbold;
}

#serv1{
	color: #00F9F6;
}

#serv2{
	color: #3E3E3E;
}

#serv3{
	color: #00EAD7;
}

#serv4{
	color: #E0BF55;
}

#serv5{
	color: #ED1E79;
}

#contenedor-circ article p{
	font-family: gill;
	font-size: 13px;
	text-align: justify;
}

#serv-izq h3{
	color: #00BBA6;
}

#serv-der h3{
	color: #ED1E79;
}

#serv-izq h3, #serv-der h3{
	font-family: gill;
	margin-bottom: 2em;
	position: relative;
}

.marcos{
	left: 25px;
	margin-top: 6px;
	position: absolute;
	width: 81px;
}

.marcos2{
	width: 81px;
	position: absolute;
	margin-top: 6px;
	right: 25px;
	moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    transform:rotateY(180deg);
}

.marcos3{
	left: 25px;
	margin-top: 6px;
	position: absolute;
	width: 47px;
}

.marcos4{
	margin-top: 6px;
	position: absolute;
	right: 25px;
	width: 47px;
	moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    transform:rotateY(180deg);
}

#serv-izq{
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 60%;
}

#serv-izq-arriba{
	position: relative;
	padding-bottom: 35px;
}

#serv-izq-arriba p{
	position: absolute;
	width: 87%;
	left: 0;
	right: 0;
	margin: 0 auto;
	margin-top: -27px;
	font-size: 13px;
	font-family: gill;
}

#serv-der{
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

#serv-der-arriba{
	position: relative;
	padding-bottom: 35px;
}

#serv-der-arriba p{
	position: absolute;
	width: 87%;
	left: 0;
	right: 0;
	margin: 0 auto;
	margin-top: -27px;
	font-size: 13px;
	font-family: gill;
}

#serv-abajo{
	position: absolute;
	bottom: 45px;
	left: 0;
	right: 0;
	margin: 0 auto;

}

#serv-abajo div{
	display: inline-block;
	vertical-align: top;
	width: 290px;
	position: relative;
	padding: 0.4em;
	margin: 0 6em;
	border-radius: 5px;
	line-height: 25px;
}

#serv-abajo div p{
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	text-align: left;
	font-family: gillbold;
	color: white;
}

#p1{
	margin-left: 22px;
	font-size: 18px;
}

#p2{	
	margin-left: 48px;
	font-size: 18px;
}

#p3{
	margin-left: 32px;
	font-size: 26px;
}

#p4{
	margin-left: 22px;
	font-size: 18px;
}

#p5{
	margin-left: 44px;
	font-size: 18px;
}

#p6{
	margin-left: 106px;
	font-size: 26px;
}


#serv-abajo div figure img{
	width: 21%;
}


#serv-abajo-izq{
	background: #00DFC5;
}


#serv-abajo #serv-abajo-izq  figure img{
	position: absolute;
	left: -26px;
	top: -30px;
}


#serv-abajo-der{
	background: #ED1E79;
}

#serv-abajo #serv-abajo-der  figure img{
	position: absolute;
	right: -26px;
	top: -30px;
}

/*****************************************************/
/*********************Portafolio**********************/
/*****************************************************/

#section_3{
	background: url(../images/fondo.jpg) 50% 0 repeat-x fixed;
	text-align: center;
}

.h2-sub{
	font-family: antoniobold;
	font-size: 43px;
	margin-left: 30px;
	text-align: left;
	color: #4D4D56;
}


#section_3 .limitar-ancho{
	padding-top: 10%;
}

#section_3 figure{
	cursor: pointer;
	display: inline-block;
	height: 160px;
	margin: 8px;
	vertical-align: top;
	width: 160px;
}

#section_3 #cont-cuadrado{
	margin: 0 auto;
	width: 900px;
}

.portafolio{
	width: 100%;
}


/*************/
.view {
 /* height: 160px;
   height: 200px;*/
   margin: 10px;
   overflow: hidden;
   position: relative;
   text-align: center;
   -webkit-box-shadow: 1px 1px 2px #e6e6e6;
   -moz-box-shadow: 1px 1px 2px #e6e6e6;
   box-shadow: 1px 1px 2px #e6e6e6;
   cursor: default;
   background: #fff url(../images/bgimg.jpg) no-repeat center center;
}
.view .mask,.view .content {
   width: 160px;
	height: 160px;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
}
.view img {
   display: block;
   position: relative;
}

.view h2 {
   color: #fff;
   font-family: gillbold;
   font-size: 13px;
   margin: 12px 8px 13px 8px;
   position: relative;
   text-align: left;
}

.view p{
	 padding: 0 8px;
	 color: white;
	 font-family: gill;
	 font-size: 13px;
	 text-align: left !important;
	 margin-bottom: 0 !important;
}

.view ul{
	 color: white;
	 font-family: gill;
	 font-size: 13px;
	 text-align: left;
	 margin: 0;
	 padding: 0 8px;
}

.view a.info: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}


/*************/

.view-first img {
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.view-first .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   background-color: rgba(0,0,0, 0.7);
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}
.view-first h2 {
   -webkit-transform: translateY(-100px);
   -moz-transform: translateY(-100px);
   -o-transform: translateY(-100px);
   -ms-transform: translateY(-100px);
   transform: translateY(-100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-first p {
   -webkit-transform: translateY(100px);
   -moz-transform: translateY(100px);
   -o-transform: translateY(100px);
   -ms-transform: translateY(100px);
   transform: translateY(100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}

.view-first ul {
   -webkit-transform: translateY(100px);
   -moz-transform: translateY(100px);
   -o-transform: translateY(100px);
   -ms-transform: translateY(100px);
   transform: translateY(100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}

.view-first:hover img {
   -webkit-transform: scale(1.1,1.1);
   -moz-transform: scale(1.1,1.1);
   -o-transform: scale(1.1,1.1);
   -ms-transform: scale(1.1,1.1);
   transform: scale(1.1,1.1);
}
.view-first a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-first:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover ul,
.view-first:hover a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
}
.view-first:hover p {
   -webkit-transition-delay: 0.1s;
   -moz-transition-delay: 0.1s;
   -o-transition-delay: 0.1s;
   -ms-transition-delay: 0.1s;
   transition-delay: 0.1s;
}

.view-first:hover ul {
   -webkit-transition-delay: 0.1s;
   -moz-transition-delay: 0.1s;
   -o-transition-delay: 0.1s;
   -ms-transition-delay: 0.1s;
   transition-delay: 0.1s;
}
.view-first:hover a.info {
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}
				

/*****************************************************/
/*************************MyM*************************/
/*****************************************************/

.portafolio-sect{
	width: 100%;
	height: 100%;
}

.art-izq{
	width: 49.5%;
	height: 95%;
	display: inline-block;
	vertical-align: top;

}

.art-der{
	width: 49.5%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	float: right;
	background: #4D4D4D;
}

.art-margen{
	margin: 5em 0 5em 2.5em;
}

.port-regresar{
	background: #00DFC5;
	color: #4D4D4D;
	font-family: gill;
	font-size: 13px;
	font-weight: bold;
	padding: 5px 30px;
	width: 14em;
	margin-top: 2em;
}

h1{
	color: white;
	font-family: antoniobold;
	font-size: 43px;
}

h1 span{
	color: #00DFC5;
}

.art-der h2{
	background: white;
	color: #4D4D4D;
	float: right;
	padding: 1em 0.8em;
	width: 94%;
}

.art-margen .abajo{
	margin-top: 7.8em;
	width: 95%;
}

.abajo p{
	color: white;
	font-family: gill;
	font-size: 14px;
	text-align: justify;
}











/*****************************************************/
/**********************Clientes***********************/
/*****************************************************/

#section_4{
	background: white;
}

#section_4 figure{
	display: inline-block;
	margin: 0.5em 2.2em;
	vertical-align: middle;
	width: 130px;
	text-align: center;
}

.client{
	width: 100px !important;
}

#section_4 figure img{
	width: 100%;
}

#section_4 #cont-cuadrado{
	margin: 0 auto;
	margin-top: 1.5em;
	text-align: center;
}

#section_4 .limitar-ancho
{
	padding-top: 10%;
}

#cont-cuadrado  p{
	margin: 0 auto;
	margin-bottom: 80px;
	/*width: 700px;*/
	text-align: center;
}

/*****************************************************/
/*********************Nosotros************************/
/*****************************************************/

#section_5{
	background: #E6E6E6;
	text-align: center;
}

#section_5 .limitar-ancho
{
	padding-top: 10%;
}

#sect5-arriba{
	margin: 0 auto;
	text-align: justify;
	width: 80%;
}

#sect5-arriba p, #nosotros-izq, #nosotros-der{
	font-family: gill;
}

#nosotros-izq{
	display: inline-block;
	margin: 0 1.5em;
	text-align: justify;
	vertical-align: top;
	width: 40%;
}

#nosotros-der{
	display: inline-block;
	margin: 0 1.5em;
	text-align: justify;
	vertical-align: top;
	width: 40%;
}

#cont-trabajadores figure{
	display: inline-block;
	margin: 0.3em 1em;
	vertical-align: top;
	width: 110px;
}

.trabajador{
	width: 100%;
}


/*****************************************************/
/**********************Contacto***********************/
/*****************************************************/

#section_6{
	background: #0589a0 url(../images/fondo-cont.jpg) 50% 0 repeat-x fixed;
	width: 100%;
	height: 100%;
}

#section_6 .h2-sub{
	color: white;
}

#section_6 .limitar-ancho
{
	padding-top: 10%;
}

#cont-contacto{
	margin: 0 auto;
	margin-top: 3.8%;
	/*width: 1024px;*/
	text-align: center;
}

#cont-contacto p{
	margin: 0 auto;
	margin-bottom: 10px;
	/*width: 600px;*/
	text-align: justify;
}

#contact-der{
	display: inline-block;
	font-size: 14px;
	margin: 20px 0 0 50px;
	vertical-align: top;
	width: 295px;
}

#cont-social{
	background: #4D4D4D;
	padding: 15px 0 10px 30px;
	margin-top: 2.5em;
}

#cont-social p{
	color: white;
	font-family: gill;
}

#contact-der #num-mail
{	
	background: #4D4D4D;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	color: white;
	font-size: 13px;
	padding: 5px 0 10px 20px;
	width: 100%;
	margin-top: 3.5em;
	font-family: gill;
}

#contact-der #num-mail p 
{
	margin: 10px;
}

#contact-der #num-mail p:nth-child(2) 
{
	margin-bottom: 20px;
}

#contact-der .contact-soc img, #contact-sup .contact-soc img
{
	margin-right: 10px;
	vertical-align: middle;
	width: 8%;
}


#contact-sup
{
	display: none;
	overflow: hidden;	
}

#section_6 form{
	display: inline-block;
	font-size: 14px;
	margin: 20px 0 0 0;
	text-align: justify;
	vertical-align: top;
	width: 600px;
}

#section_6 form .cont-btn
{
	margin-top: 10px;
	text-align: right;
	width: 75%;
}

#section_6 form label{
	color: white;
	display: inline-block;
	font-family: gill;
	margin-bottom: 8px;
	margin-right: 15px;
	text-align: right;
	width: 210px;
}

#section_6 form input[type="text"], #section_6 form input[type="tel"]{
	font-family: gill;
	height: 28px;
	margin-bottom: 8px;
	margin-left: 4px;
	text-align: center;
	width: 364px;
}

#section_6 form input[type="submit"]
{
	background: url(../images/enviar.jpg) no-repeat;
	background-size: 100% 100%;
	border: none;
	height: 60px;
	width: 50px;
}




.saltolinea
{
	display: block;
}


#cont-check{	
	border: none;
	margin-bottom: 8px;
	width: 362px;
	display: inline-block;
	vertical-align: top;
	padding: 0.3em;
}

#cont-check div{
	background: #00DFC5;
}

.check-izq{
	width: 168px;
	display: inline-block;
	vertical-align: top;
}

.check-der{
	width: 182px;
	display: inline-block;
	vertical-align: top;
}

#otros{
	padding-left: 5px;
}

#cont-check p, input[type="checkbox"]{
	color: #4D4D4D;
	display: inline-block;
	font-family: gill;
	margin: 0.4em;
	vertical-align: top;
}

textarea{
	width: 98.5%;
	margin-top: 10px;
	text-align: center;
	vertical-align: middle;
	font-family: gill;

}



/*************************************************************/

@media screen and (min-width: 1500px) {
	#serv-abajo
	{
		margin-bottom: 6em;
	}

	#sect1-izq
	{
		left: 22%;
	}
}

@media screen and (min-width: 1400px) {
	
	#cont-cuadrado p{
		margin-bottom: 30px;
	}
	
	#sect1-izq{
		top: 11em;
	}

}


@media screen and (max-width: 1048px) {
	.limitar-ancho{
		width: 1000px;
	}

	.content{
		/*height: 940px;*/
		height: auto !important;
	}

	#serv-izq{
		/*width: 100%;*/
		width: 700px;
	}

	#sect1-izq{
		left: 7%;
	}

	#serv-abajo{
		position: inherit;
		margin-bottom: 6em;
	}

	#id5{
		display: none;
	}

}


@media screen and (max-width: 1025px) {

	#navigationMenu nav{
		width: 100%;
	}
	
	#navigationMenu nav ul{
		width: auto;
	}

	.limitar-ancho{
		width: 98%;
	}
}

@media screen and (max-width: 1019px) {

	#navigationMenu{
		display: none !important;
		overflow: hidden;
	}

	#navigationMenuResp1
	{
		background:#fff;
		border:1px solid #666; 
		display: inline-block;
		padding:5px; 
		position:fixed; 
		width: 100%;
		z-index: 9999;
	}

	#menu-der{
		width: 100%;
		float: right;
		position: absolute;
		right: 30px;
		text-align: right;
		top: 0
	}

	#menu-de p{
		margin: 0;
		padding: 0;
	}

	#navigationMenuResp1 #listres li{
		display: inline-block;
		margin: 1.2em 1.3em;
	}

	#listres{
		background: white;
		margin: 0;
		text-align: left;
		width: 100%;
		margin-top: 25px;
	}

	#cat_icon{
		display: none;
	}

	#serv-abajo div{
		margin: 0;
	}

	.portafolio-sect, .art-izq, .art-der{
		height: auto;
	}

	
	.art-izq{
		display: block;
		float: inherit !important;
		margin: 0 auto;
		text-align: center;
		width: 80%;
	}

	.art-der{
		display: block;
		float: inherit !important;
		margin: 0 auto;
		text-align: center;
		width: 100%;
	}
	



}

@media screen and (max-width: 995px) {
	#id6{
		display: none;
	}
}


@media screen and (max-width: 918px) {

	#contenedor-circ{
		width: auto;
	}

	#section_3 #cont-cuadrado{
		width: auto;
	}

	#cont-contacto{
		width: auto;
	}

	/*CONTACTO*/
	
	#contact-der{
		width: 35%;
	}

	#contact-der #num-mail
	{
		padding: 5px 0 10px 0;
	}

	#cont-contacto{
		margin-left: 5px;
		text-align: left;
		/*width: 100%;*/
	}

	#cont-contacto form
	{
		font-size: 12px;
		margin-right: 2%;
		width: 60%;
	}

	#section_6 form .cont-btn
	{
		/*padding-left: 15%;*/
		text-align: center;
		width: 100%;
	}


	#section_6 form input[type="text"]
	{
		width: 250px;	
	}


	#section_6 form label
	{
		width: 200px;
	}

}


@media screen and (max-width: 900px) {
	
	#section_4 #cont-cuadrado{
		width: auto;
	}

	#cont-cuadrado  p{
		width: auto;
	}
}

@media screen and (max-width: 895px) {

	#id3{
		display: block;
	}

	#contenedor-circ{
		text-align: center;
	}

	#section_3 #cont-cuadrado{
		text-align: center;
	}

	#section_4 #cont-cuadrado{
		text-align: center;
	}
	
	#sect1-izq{
		left: 2%;
	}

}


@media screen and (max-width: 800px) {
	
	#cont-contacto form
	{
		text-align: center;
		width: 90%;
	}

	#contact-der
	{
		display: none;
		overflow: hidden;
	}

	#cont-contacto 
	{
		margin-top: 0;
	}

	
	#contact-sup
	{
		display: block;
		font-size: 14px;
		height: 180px;
		vertical-align: top;
		width: 98%;
	}
	
	#contact-sup #ladoi, #contact-sup #ladod
	{
		display: inline-block;
		vertical-align: top;
		width: 48%;
	}

	#contact-sup #num-mail
	{	
		background: #4D4D4D;
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
		color: white;
		font-size: 13px;
		margin: 10px 20px 10px 10px;
		padding: 5px 0 5px 50px;
		width: 100%;
	}

	#contact-sup #num-mail p 
	{
		margin: 10px;
		width: 50%;
	}

	#contact-sup #num-mail p:nth-child(2) 
	{
		margin-bottom: 10px;
	}

	#contact-sup .contact-soc
	{
		display: inline-block;
		text-align: center;
		vertical-align: top;
		width: 48%;
	}
	
	#section_6 form .cont-btn
	{
		margin-top: 10px;
		text-align: center;
		width: 96%;
	}

	#section_6 form .cont-btn input[type="submit"]
	{
		margin-left: 75px;
	}


	#section_6 form 
	{
		margin: 0;
	}	

	#section_6 form label
	{
		width: 40%;
	}

	#section_6 form input[type="text"], #section_6 form input[type="tel"]
	{
		width: 50%;	
	}

	#sect1-izq{
		position: inherit;
		margin: 2em 0 8em 0;
		left: 0;
	}

	#sequence-theme{
		display: none;
	}
}

@media screen and (max-width: 716px) {

	#serv-izq{
		/*width: 100%;*/
		width: 100%;
	}

	#serv-abajo div{
		display: block;
		margin: 0 auto;
		margin-top: 3.5em;
	}
	
	.art-margen h1{
		font-size: 28px;
	}

	.art-margen h2{
		font-size: 15px;
	}

	.art-margen .abajo{
		margin-top: 6em;
	}

	.art-margen{
		padding-bottom: 2em;
	}


}


@media screen and (max-width: 610px) {
	
	#cont-contacto p{
		width: auto;
	}

	.marcos, .marcos2, .marcos3, .marcos4{
		display: none;
	}

		
}

@media screen and (max-width: 545px) {
	
	html{
		/*min-width: 380px;*/
	}

	#sect5-der{
		width: auto;
	}
	
	

	#id2, #id4{
		display: block;
	}

	#id3{
		display: none;
	}

	#serv-der-arriba{
		padding-bottom: 72px;
	}

	#nosotros-izq, #nosotros-der{
		width: 90%;
	}
	
}

@media screen and (max-width: 518px) {
	#section_4 article{
		margin: 0 -5px 0 0;
	}

	#serv-izq-arriba{
		padding-bottom: 48px;
	}
}

@media screen and (max-width: 475px){

	#sect1-izq{
		border-radius: 0;	
		width: 100%;
	}

	#circ-abajo{
		display: none;
	}

	#cont-media-circ figcaption{
		width: 100%;
		background: #3B3B39;
		padding: 1em 0;
	}
	
	#sect1-izq{
		margin-top: -9%;
	}


}


@media screen and (max-width: 450px){
	
	#contact-sup #num-mail
	{
		margin: 10px 0;
		width: 100%;
	}

	#contact-sup #ladoi, #contact-sup #ladod
	{
		display: block;
		text-align: center;
		width: 100%;
	}

	#section_6 form label
	{
		display: block;
		text-align: left;
		width: 100%;
	}
	
	#section_6 form input[type="text"]
	{
		width: 100%;	
	}


	#cont-contacto form 
	{
		padding: 10px;
	    width: 93%;
	}

	.h2-sub{
		font-size: 30px !important;
		margin: 0;
	}

	#section_6 form input[type="text"], #section_6 form input[type="tel"]{
		width: 100%;
	}

}

@media screen and (max-width: 360px) {
	#serv-izq-arriba{
		padding-bottom: 62px;
	}

	#serv-abajo #serv-abajo-der figure img{
		right: 1px;
	}

}
