@font-face{
	font-family: gill;
	src: url(../fuentes/gillsans.ttf) ;
}

html{
	font-size: 16px;
	height: 100%;
	overflow-x:hidden; 
}

body{
	background:#fff;
	height: 100%;
	margin: 0 auto;
	padding:0;
}

#page{
	height: 100%;
}

#navigationMenu{
	background:#fff;
	border:1px solid #666;  
	padding-top: 15px;
	position:fixed; 
	top: 0;
	width: 100%;
	z-index: 9999;
	display: ;
}

#navigationMenuResp1{
	display: none;
}

.is-touch-device #navigationMenu{
	position:absolute;
}

#navigationMenu nav{
	list-style-type:none;
	margin: 0 auto;
	width: 1024px;
}

#cont-logo{
	display: inline-block;
	vertical-align: top;
	width: 200px;
}

#navigationMenu nav ul{
	display: inline-block;
	list-style-type:none;
	overflow:hidden; 
	padding:0; 
	vertical-align: top;
	/*width: 740px;*/
	/*width: 820px;*/
	text-align: right;
}

#navigationMenu ul li{
	/*float:left;*/
	display: inline-block;
	margin:2px 28px;
	vertical-align: top;
}

#navigationMenu ul li a{
	color: black;
}

.content{
	/*background:#ddd; */
	height: 100%;
	background-attachment: fixed;
	width:100%;
	position: relative;
}

.limitar-ancho{
	margin: 0 auto;
	/*padding-top: 85px;*/
	width: 1024px;
}

.content:nth-child(odd){
	/*background:#eee;*/
}

h2{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}
/*****************************************************/
/***********************Inicio************************/
/*****************************************************/

#section_1{
	background: #00DFC5;
	text-align: center;
}

#limitar-ancho1{
	padding-top: 13%;
}

#section_1 figure{
	display: inline-block;
	/*margin-left: 150px;*/
	text-align: center;
	vertical-align: top;
	width: 25%;
}

#section_1 #sect1-der{
	display: inline-block;
	text-align: right;
	vertical-align: top;
	width: 36%;

}

.bxslider{
	margin-top: 100px;
	height: auto;
}

.logo-derecha{
	margin: 0;
	padding: 0;
	width: 211px !important;
}

.img-logo-der{
	width: 100%;
	text-align: right;
}

iframe{
	height: 100%;
	width: 100%;
}


/*********************Formulario**********************/
#cat_icon{
    cursor: pointer;
    top: 0;
    position: fixed;
    right: 5px;
    z-index: 9999;
}

#categories {
    top: 0;
    right: 5px;
    z-index: 999;
    border : 1px solid #000;
    display: none;
    width: 200px;
    position: fixed;
}

span{
  cursor: pointer;
}







/*****************************************************/
/*********************Servicios***********************/
/*****************************************************/
#id1, #id2, #id3, #id4 {
	display: none;
}


#section_2{
	/*background: white;*/
	background-image:url('../images/fondo-burb.jpg');
	text-align: center;
}

#section_2_2{
	background-image:url('../images/fondo2.png');
	
}

#section_2 h2{
	background: #00dfc5; /* Old browsers */
	background: -moz-linear-gradient(top, #00dfc5 50%, #4d4d4d 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#00dfc5), color-stop(50%,#4d4d4d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #00dfc5 50%,#4d4d4d 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #00dfc5 50%,#4d4d4d 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #00dfc5 50%,#4d4d4d 50%); /* IE10+ */
	background: linear-gradient(to bottom, #00dfc5 50%,#4d4d4d 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00dfc5', endColorstr='#4d4d4d',GradientType=0 ); /* IE6-9 */
	color: white;
	padding: 12px 0;
	text-align: center;
	width: 100%;
	padding-top: 80px;
	font-family: gill;
}

.circulos{
	margin: 0 auto;
	width: 115px;
	/*height: 100px;
	width: 100px;*/
}

.circulos img{
	width: 100%;
}

#contenedor-circ{
	margin: 0 auto;
	padding-top: 40px;
	/*width: 900px;*/
}

#contenedor-circ article{
	display: inline-block;
	margin: 0 15px;
	vertical-align: top;
	width: 170px;
}

#contenedor-circ article h3{
	font-size: 13.2px;
	text-align: center;
}

#contenedor-circ article p{
	font-size: 13px;
	text-align: center;
}

#serv-izq h3, #serv-der h3{
	font-family: gill;
	margin-bottom: 2em;
	position: relative;
}

.marcos{
	left: 25px;
	margin-top: 6px;
	position: absolute;
	width: 100px;
}

.marcos2{
	width: 100px;
	position: absolute;
	margin-top: 6px;
	right: 25px;
	moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    transform:rotateY(180deg);
}

.marcos3{
	left: 25px;
	margin-top: 6px;
	position: absolute;
	width: 40px;
}

.marcos4{
	margin-top: 6px;
	position: absolute;
	right: 25px;
	width: 40px;
	moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    transform:rotateY(180deg);
}

#serv-izq{
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

#serv-der{
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

/*****************************************************/
/*********************Portafolio**********************/
/*****************************************************/

#section_3{
	background-image:url('../images/fondo.jpg');
	background-size: 100% 100%;
	text-align: center;
}

#section_3 h2{
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 49%, #4d4d4d 49%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(49%,#ffffff), color-stop(49%,#4d4d4d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 49%,#4d4d4d 49%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 49%,#4d4d4d 49%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 49%,#4d4d4d 49%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 49%,#4d4d4d 49%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#4d4d4d',GradientType=0 ); /* IE6-9 */
	color: white;
	padding: 12px 0;
	text-align: center;
	width: 100%;
	padding-top: 80px;
	font-family: gill;
}

#section_3 figure{
	cursor: pointer;
	display: inline-block;
	height: 160px;
	margin: 8px;
	vertical-align: top;
	width: 131px;
}

#section_3 #cont-cuadrado{
	margin: 0 auto;
	margin-top: 50px;
	width: 900px;
}

.portafolio{
	width: 100%;
}

/*****************************************************/
/**********************Clientes***********************/
/*****************************************************/

#section_4{
	background: white;
}

#section_4 h2{
	background: #e6e6e6; /* Old browsers */
	background: -moz-linear-gradient(top, #e6e6e6 49%, #4d4d4d 49%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(49%,#e6e6e6), color-stop(49%,#4d4d4d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e6e6e6 49%,#4d4d4d 49%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e6e6e6 49%,#4d4d4d 49%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e6e6e6 49%,#4d4d4d 49%); /* IE10+ */
	background: linear-gradient(to bottom, #e6e6e6 49%,#4d4d4d 49%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#4d4d4d',GradientType=0 ); /* IE6-9 */
	color: white;
	padding: 12px 0;
	text-align: center;
	width: 100%;
	padding-top: 80px;
	font-family: gill;
}

#section_4 figure{
	display: inline-block;
	height: 200px;
	margin: 0 -5px 0 0;
	vertical-align: top;
	width: 200px;
	text-align: center;
}

#section_4 figure img{
	width: 100%;
}

#section_4 #cont-cuadrado{
	margin: 0 auto;
	margin-top: 50px;
	width: 800px;
}

#cont-cuadrado  p{
	margin: 0 auto;
	margin-bottom: 80px;
	width: 700px;
	text-align: center;
}

/*****************************************************/
/*********************Nosotros************************/
/*****************************************************/

#section_5{
	background: #E6E6E6;
	text-align: center;
}

#section_5 h2{
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 49%, #4d4d4d 49%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(49%,#ffffff), color-stop(49%,#4d4d4d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 49%,#4d4d4d 49%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 49%,#4d4d4d 49%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 49%,#4d4d4d 49%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 49%,#4d4d4d 49%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#4d4d4d',GradientType=0 ); /* IE6-9 */
	color: white;
	padding: 12px 0;
	text-align: center;
	width: 100%;
	padding-top: 80px;
	font-family: gill;
}

#limitar-ancho2{
	padding-top: 9%;
}

#circ-izq{
	background: green;
	border-radius: 50%;
	display: inline-block;
	height: 170px;
	margin-left: 170px;
	vertical-align: top;
	width: 170px;
}

#sect5-der{
	display: inline-block;
	/*margin-left: 80px;*/
	text-align: justify;
	vertical-align: top;
	width: 450px;
}


/*****************************************************/
/**********************Contacto***********************/
/*****************************************************/

#section_6{
	background: white;
}

#section_6 h2{
	background: #e6e6e6; /* Old browsers */
	background: -moz-linear-gradient(top, #e6e6e6 49%, #4d4d4d 49%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(49%,#e6e6e6), color-stop(49%,#4d4d4d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e6e6e6 49%,#4d4d4d 49%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e6e6e6 49%,#4d4d4d 49%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e6e6e6 49%,#4d4d4d 49%); /* IE10+ */
	background: linear-gradient(to bottom, #e6e6e6 49%,#4d4d4d 49%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#4d4d4d',GradientType=0 ); /* IE6-9 */
	color: white;
	padding: 12px 0;
	text-align: center;
	width: 100%;
	padding-top: 80px;
	font-family: gill;
}

#cont-contacto{
	margin: 0 auto;
	margin-top: 10%;
	width: 1024px;
	text-align: center;
}

#cont-contacto p{
	margin: 0 auto;
	margin-bottom: 10px;
	width: 600px;
	text-align: justify;
}

#contact-der{
	display: inline-block;
	font-size: 14px;
	height: 180px;
	margin: 20px 0 0 0;
	vertical-align: top;
	width: 380px;
}

#contact-der #num-mail
{	
	background: #4D4D4D;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	color: white;
	font-size: 13px;
	padding: 5px 0 10px 50px;
	width: 100%;
}

#contact-der #num-mail p 
{
	margin: 10px;
}

#contact-der #num-mail p:nth-child(2) 
{
	margin-bottom: 20px;
}

#contact-der .contact-soc img, #contact-sup .contact-soc img
{
	margin-right: 10px;
	vertical-align: middle;
	width: 8%;
}


#contact-sup
{
	display: none;
	overflow: hidden;	
}

#section_6 form{
	display: inline-block;
	font-size: 14px;
	margin: 20px 0 0 0;
	text-align: justify;
	vertical-align: top;
	width: 600px;
}

#section_6 form .cont-btn
{
	margin-top: 10px;
	text-align: right;
	width: 75%;
}

#section_6 form label{
	display: inline-block;
	margin-bottom: 8px;
	margin-right: 15px;
	text-align: right;
	width: 250px;
}

#section_6 form input[type="text"]{
	background: #00DFC5;
	border: none;
	height: 28px;
	margin-bottom: 8px;
	text-align: center;
	width: 310px
}

#section_6 form input[type="submit"]
{
	background: url(../images/enviar.jpg) no-repeat;
	background-size: 100% 100%;
	border: none;
	height: 60px;
	width: 50px;
}
/*
#section_6 form input[type="text"]:focus{
	background: red;
}
*/
#section_6 form textarea{
	background: #00DFC5;
	border: none;
	height: 100px;
	text-align: center;
	width: 305px;
}

.saltolinea
{
	display: block;
}

@media screen and (max-width: 1400px) {
	#cont-cuadrado p{
		margin-bottom: 30px;
	}

}

@media screen and (max-width: 1045px) {
	.limitar-ancho{
		width: 1000px;
	}

	.content{
		/*height: 940px;*/
		height: auto !important;
	}

}


@media screen and (max-width: 1025px) {

	#navigationMenu nav{
		width: 100%;
	}
	
	#navigationMenu nav ul{
		width: auto;
	}

	.limitar-ancho{
		width: 100%;
	}
}

@media screen and (max-width: 1019px) {

	#navigationMenu{
		display: none !important;
		overflow: hidden;
	}

	#navigationMenuResp1
	{
		background:#fff;
		border:1px solid #666; 
		display: inline-block;
		padding:5px; 
		position:fixed; 
		width: 100%;
		z-index: 9999;
	}

	#menu-der{
		width: 100%;
		float: right;
		position: absolute;
		right: 30px;
		text-align: right;
		top: 0
	}

	#menu-de p{
		margin: 0;
		padding: 0;
	}

	#navigationMenuResp1 #listres li{
		display: inline-block;
		margin: 1.2em 1.3em;
	}

	#listres{
		background: red;
		margin: 0;
		text-align: left;
		width: 100%;
		margin-top: 25px;
	}

	#cat_icon{
		display: none;
	}

	iframe{
		height: 500px;
	}
}


@media screen and (max-width: 918px) {

	#contenedor-circ{
		width: auto;
	}

	#section_3 #cont-cuadrado{
		width: auto;
	}

	#cont-contacto{
		width: auto;
	}

	/*CONTACTO*/
	
	#contact-der{
		width: 35%;
	}

	#contact-der #num-mail
	{
		padding: 5px 0 10px 0;
	}

	#cont-contacto{
		margin-left: 5px;
		text-align: left;
		width: 100%;
	}

	#cont-contacto form
	{
		font-size: 12px;
		margin-right: 2%;
		width: 60%;
	}

	#section_6 form .cont-btn
	{
		padding-left: 15%;
		text-align: center;
		width: 100%;
	}


	#section_6 form input[type="text"]
	{
		width: 250px;	
	}
	#section_6 form textarea
	{
		width: 245px;	
	}
	#section_6 form label
	{
		width: 200px;
	}

}


@media screen and (max-width: 900px) {
	
	#section_4 #cont-cuadrado{
		width: auto;
	}

	#cont-cuadrado  p{
		width: auto;
	}
}

@media screen and (max-width: 895px) {

	#id3{
		display: block;
	}

	#contenedor-circ{
		text-align: center;
	}

	#section_3 #cont-cuadrado{
		text-align: center;
	}

	#section_4 #cont-cuadrado{
		text-align: center;
	}
	
	/*
	#limitar-ancho2{
		text-align: center;
	}

	#circ-izq{
		margin: 0;
	}

	#sect5-der{
		margin: 0;
	}*/
}


@media screen and (max-width: 800px) {
	
	#cont-contacto form
	{
		text-align: center;
		width: 90%;
	}

	#contact-der
	{
		display: none;
		overflow: hidden;
	}

	#cont-contacto 
	{
		margin-top: 0;
	}

	
	#contact-sup
	{
		display: block;
		font-size: 14px;
		height: 180px;
		vertical-align: top;
		width: 98%;
	}
	
	#contact-sup #ladoi, #contact-sup #ladod
	{
		display: inline-block;
		vertical-align: top;
		width: 48%;
	}

	#contact-sup #num-mail
	{	
		background: #4D4D4D;
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
		color: white;
		font-size: 13px;
		margin: 10px 20px 10px 10px;
		padding: 5px 0 5px 50px;
		width: 100%;
	}

	#contact-sup #num-mail p 
	{
		margin: 10px;
		width: 50%;
	}

	#contact-sup #num-mail p:nth-child(2) 
	{
		margin-bottom: 10px;
	}

	#contact-sup .contact-soc
	{
		display: inline-block;
		text-align: center;
		vertical-align: top;
		width: 48%;
	}
	
	#section_6 form .cont-btn
	{
		margin-top: 10px;
		text-align: center;
		width: 100%;
	}

	#section_6 form .cont-btn input[type="submit"]
	{
		margin-left: 75px;
	}


	#section_6 form 
	{
		margin: 0;
	}	

	#section_6 form label
	{
		width: 40%;
	}

	#section_6 form input[type="text"]
	{
		width: 50%;	
	}

	#section_6 form textarea
	{
		width: 49%;	
	}
	
}
	

@media screen and (max-width: 656px) {
	
	iframe{
		height: 484px !important;
	}
		
}


@media screen and (max-width: 610px) {
	
	#cont-contacto p{
		width: auto;
	}

	.marcos, .marcos2, .marcos3, .marcos4{
		display: none;
	}
		
}

@media screen and (max-width: 545px) {
	
	html{
		/*min-width: 380px;*/
	}

	#sect5-der{
		width: auto;
	}
	
	

	#id2, #id4{
		display: block;
	}

	#id3{
		display: none;
	}
	
}

@media screen and (max-width: 500px) {
	#section_4 article{
		margin: 0 -5px 0 0;
	}
}

@media screen and (max-width: 450px){
	
	#contact-sup #num-mail
	{
		margin: 10px 0;
		width: 100%;
	}

	#contact-sup #ladoi, #contact-sup #ladod
	{
		display: block;
		text-align: center;
		width: 100%;
	}

	#section_6 form label
	{
		display: block;
		text-align: left;
		width: 100%;
	}
	
	#section_6 form input[type="text"]
	{
		width: 100%;	
	}

	#section_6 form textarea
	{
		width: 98%;	
	}

	#cont-contacto form 
	{
		padding: 10px;
	    width: 94%;
	}


}